.Slider{
  background: linear-gradient(180deg,#888, #fff,80%, #888888);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.Slider.mobile{
  height: 40vh;
}

.slick-arrow {
  z-index: 1;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 5px;
  display: inline-block;
}

.slick-dots li button {
  font-size: 10px;
  cursor: pointer;
  color: #333; /* Color of inactive dots */
  background-color: transparent;
  border: none;
  outline: none;
}

.buttons-wrapper{
  position: absolute;
  z-index: 1;
  display: flex;
  width: 450px;
  justify-content: space-between;
  right: 50px;
  bottom: 50px;
}

.button{
  padding: 10px;
  background: var(--secondary-color);
  color: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  font-family: "main-app-bold";
  cursor: pointer;
  text-align: center;
  transition: .2s;
}

.button:hover{
  background: #d89f1aa8;
  backdrop-filter: blur(10px);
  color: #000;
}

.button:nth-of-type(1){
  width: 80px;
}

.fldt-title-wrapper{
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
}

.fldt-title-main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 10px;
  border-radius: 5px;
  background: #d89f1aa8;
  backdrop-filter: blur(10px);
  font-size: 18px;
  color: #fff;
  font-family: "main-app-bold";
  font-weight: bolder;
}

.fldt-title-price{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background: #ffffffa8;
  backdrop-filter: blur(10px);
  font-size: 18px;
  font-family: "main-app-bold";
  font-weight: bolder;
}

.slick-arrow {
  z-index: 1;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.buttons-wrapper{
  position: absolute;
  z-index: 1;
  display: flex;
  width: 450px;
  justify-content: space-between;
  right: 50px;
  bottom: 40px;
}

.button{
  padding: 10px;
  background: var(--secondary-color);
  border: 2px solid rgba(216, 158, 26, 0.3);
  color: #ffffff;
  border-radius: 5px;
  font-weight: 600;
  font-family: "main-app-bold";
  cursor: pointer;
  text-align: center;
  transition: .2s;
  text-decoration: none;
  display: inline-table;
}

.button:hover{
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.button:nth-of-type(1){
  width: 80px;
}

.fldt-title-wrapper{
  position: absolute;
  z-index: 1;
  top: 55px;
  left: 20px;
  box-shadow: 0 0 8px #1f1f1f;
  border-radius: 5px;
}

.fldt-title-main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background: #b60b33d0;
  -webkit-backdrop-filter: blur(5px);
  border: 2px solid #b60b33f0;
  backdrop-filter: blur(5px);
  font-size: 18px;
  color: #fff;
  font-family: "main-app-bold";
  font-weight: bolder;
}

.fldt-title-price{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  backdrop-filter: blur(100px);
  background: rgba(255, 255, 255, 0.28);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 18px;
  font-family: "main-app-bold";
  font-weight: bolder;
}

.custom-prev-arrow,
.custom-next-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.28);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  transition: .2s;
  box-shadow: 0 0 8px #1f1f1f;
  cursor: pointer;
}

.custom-prev-arrow:hover,
.custom-next-arrow:hover{
  background: #fff;
}

.custom-prev-arrow {
  left: 25px;
}

.custom-next-arrow {
  right: 25px;
}


.custom-dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.custom-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.custom-dot.active {
  background-color: #007bff;
}

.fldt-title-price-span{
  font-size: 13px;
  color: #3f3f3f;
}

.space{
  height: 3rem;
}

.fldt-bio{
  width: 100%;
  padding: 0 200px 0 200px;
  display: flex;
  justify-content: space-between;
}

.fldt-bio-text{
  display: flex;
  align-items: center;
  width: 60%;
}

.fldt-icon{
  height: 24px;
  width: 24px;
  background: red;
}

.fldt-icon.a{
  margin-top: 0;
  background: url(/icons/map-marker.png);
  background-position: center;
  background-size: cover;
}

.fldt-icon.b{
  background: url(/icons/bed.png);
  background-position: center;
  background-size: cover;
}

.fldt-icon.c{
  background: url(/icons/stairs.png);
  background-position: center;
  background-size: cover;
}

.fldt-icon.d{
  background: url(/icons/building.png);
  background-position: center;
  background-size: cover;
}

.fldt-icon.e{
  background: url(/icons/measurement.png);
  background-position: center;
  background-size: cover;
}

.fldt-icon.f{
  background: url(/icons/paint-roller.png);
  background-position: center;
  background-size: cover;
}

.fldt-bullet-wrapper{
  display: flex;
  margin-top: 10px;
}

.fldt-bullet{
  height: 24px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.custom-dot {
  width: 20px;
  height: 20px;
  margin: 0px;
  background-color: rgba(147, 147, 147, 0.6);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  backdrop-filter: blur(10px);
  border: solid 2px rgba(0, 0, 0, 0.8);
}

.slick-active .custom-dot{
  background-color: #d89f1ab1;
  backdrop-filter: blur(100px);
  border: solid 8px var(--secondary-color);
}

.contact-us{
  width: 100%;
  padding: 0 200px 0 200px;
  display: flex;
  justify-content: space-between;
}


.pfp{
  height: 150px;
  width: 150px;
  background: url(/imgs/leo.jpg);
  background-position: 0% 52%;
  background-size: 110%;
  border: solid 2px var(--secondary-color);
  border-radius: 100%;
  overflow: hidden;
}

.our-agent{
  display: flex;
}

.our-agent-text{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-agent-text p{
  font-weight: bold;
  width: 300px;
}

.agent-name-p{
  font-family: "main-app-bold";
  font-size: 20px;
}

.fldt-moreinfo-body{
  width: 100%;
  display: flex;
  padding: 70px;
  /* align-items: center; */
  justify-content: center;
}

.fldt-moreinfo-apartment-wrapper{
  display: flex;
}

.fldt-moreinfo{
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  width: 300px;
  border-radius: 5px;
  padding: 20px;
  margin-left: 50px;
  margin-top: 0px;
}

.fldt-moreinfo.apartment{
  width: 600px;
}

.fldt-moreinfo-p-title{
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bolder;
}

.fldt-title-wrapper-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fldt-title-main-mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--secondary-color);
  margin-top: 0px;
  font-weight: bolder;
  padding: 5px 0 5px 0;
}

.fldt-title-price-mobile{
  font-weight: bolder;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fldt-title-price-span.ttpr-mobile{
  background: rgb(117, 255, 133);
  color: rgb(0, 114, 13);
  padding: 0 5px 0 5px;
  border-radius: 5px;
}

.buttons-wrapper-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons-first-row{
  display: flex;
}


.button-mobile{
  background: var(--secondary-color);
  padding: 10px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 10px;
}

.button-mobile.p{
  margin-left: 0px;
}

.button-mobile:active{
  background: #1f1f1f;
  color: #fff;
}


.button-mobile.second-row{
  margin-top: 10px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.input-contact-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
}

.fldt-input{
  width: 400px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: solid 2px var(--secondary-color);
  padding: 5px;
  font-size: 16px;
  transition: .2s;
}

.fldt-send-button{
  height: 50px;
  width: 140px;
  background: var(--secondary-color);
  outline: none;
  border-radius: 5px;
  border: 0px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: .2s;
}

.fldt-input:focus{
  border: solid 2px #1f1f1f;
}

.fldt-send-button:hover{
  background: #1f1f1f;
}

.currency-2{
  line-height:24px;
  font-size: 14px;
  font-family:sans-serif;
}

.drop-2{
  background: white;
  border-radius: 3px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: inset 0 0 3px #000;
  border: none;
}

.cur-txt-2{
  font-size: 16px;
}

.cur-txt-2-span{
  font-size: 13px;
  color: #3f3f3f;
}

@media (width > 450px) {
  .fldt-title-wrapper-mobile{
    display: none;
  }

  .buttons-wrapper-mobile{
    display: none;
  }
}

@media (width < 450px) {
  .input-contact-wrapper{
    flex-direction: column;
  }

  .fldt-input{
    width: 320px;
    margin-top: 20px;
  }

  .fldt-send-button{
    margin-top: 10px;
    width: 320px;
  }

  .contact-us{
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .buttons-wrapper, .fldt-title-wrapper{
    display: none;
  }

  .fldt-bio{
    padding: 0;
    align-items: center;
    flex-direction: column-reverse;
  }

  .fldt-bio-bullets{
    margin-bottom: 3rem;
  }

  .fldt-moreinfo-body, .fldt-moreinfo-apartment-wrapper{
    flex-direction: column;
    padding: 0;
    justify-content: unset;
    padding-bottom: 60px;
  }

  .fldt-moreinfo-body{
    height: auto;
    align-items: center;
  }

  .fldt-moreinfo{
    margin-top: 3rem;
    margin-left: 0;
  }

  .fldt-moreinfo.apartment{
    width: 300px;
  }

  .our-agent{
    flex-direction: column;
    align-items: center;
  }

  .our-agent-text{
    text-align: center;
  }

  .fldt-bio-text{
    width: 78%;
  }

  .custom-prev-arrow, .custom-next-arrow {
    height: 35px;
    width: 35px;
  }

  .custom-dot{
    height: 12px;
    width: 12px;
    border: solid .5px;
  }

  .slick-active .custom-dot{
    border: solid 4px var(--secondary-color);
  }

  .our-agent-text{
    margin-left: 0;
  }
}