.cards-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.card{
  margin-top: 1rem;
  position: relative;
  width: 1100px;
  text-decoration: none;
  border-radius: 10px;
  transition: .2s;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 0;
  justify-content: space-between;
  background: #fff;

}

.flat-name{
  color: var(--secondary-color);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.1rem;
  font-weight: bolder;
  transition: .2s;
}

.flat-region{
  margin-top: 0.1rem;
  color: #7d7d7d;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
}

.flat-price{
  margin-top: 0.1rem;
}

.flat-price span{
  font-weight: 500;
  color: #7d7d7d;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.flat-desc{
  margin-top: 1rem;
  line-height: 24px;
  color: #7d7d7d;
  font-family: Arial, Helvetica, sans-serif;
}

.flat-img{
  border-radius: 5px;
  /* box-shadow: 0 0 8px #1f1f1f; */
  object-fit: cover;
  height: 100%;
  width: 400px;

}

.flat-p-row{
  font-size: 14px;
  display: flex;
  align-items: center;
}

.flat-button{
  padding: 6px;
  font-weight: bolder;
  margin-top: 10px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  background-color: var(--secondary-color);
  transition: .2s;
}

.flat-button:hover{
  background: #fdcb39;
}

.slider-card{
  height: 100%;
  width: 100%;
  background: #fff;
}

.slick-list, .slick-track{
  height: 100%;
  width: 100%;
}


.flat-name:hover{
  color: #fdcb39;
}

.custom-prev-arrow-c, .custom-next-arrow-c {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  transition: .2s;
  cursor: pointer;

}

.custom-arrow-c-a{
  fill: #585858;
}

.custom-prev-arrow-c {
  left: 10px;
}

.custom-next-arrow-c {
  right: 10px;
}

.custom-dot-c{
  height: 8px;
  width: 8px;
  border: solid .5px;
  margin: 0px;
  background-color: rgba(147, 147, 147, 0);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  backdrop-filter: blur(10px);
  border: solid 2px rgba(0, 0, 0, 0.1);
}

.slick-active .custom-dot-c{
  background-color: #d89f1ab1;
  backdrop-filter: blur(100px);
  border: solid 4px var(--secondary-color);
}

.slick-slide div{
  height: 100%;
  width: 100%;
}

.slider-card .slick-dots li{
  margin: 0;
  width: 15px;
}

@media (width < 800px) {
  .card{
    margin-left: 0;
    display: block;
    background: #fff;
    padding: 10px;
  }

  .flat-p-row{
    display: flex;
    flex-direction: column;
  }
}
