.cards-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.card{
  margin-top: 2.5rem;
  position: relative;
  width: 360px;
  cursor: pointer;
  margin-left: 2rem;
  text-decoration: none;
}

.flat-name{
  color: var(--secondary-color);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5rem;
  font-weight: bolder;
}

.flat-region{
  margin-top: 0.5rem;
  color: #7d7d7d;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 2px;
}

.flat-price{
  margin-top: 0.8rem;
}

.flat-price span{
  font-weight: 500;
  color: #7d7d7d;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.flat-desc{
  margin-top: .4rem;
  line-height: 24px;
  color: #7d7d7d;
  font-family: Arial, Helvetica, sans-serif;
}

.flat-img{
  border-radius: 5px;
  border: solid 1px var(--secondary-color);
  /* box-shadow: 0 0 8px #1f1f1f; */
  object-fit: cover;
}



@media (width < 800px) {
  .card{
    margin-left: 0;
  }
}
