.footer-body{
  height: 350px;
  width: 100%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 60px;
}

.footer-logo{
  height: 180px;
  width: 180px;
  background: url('/src/assets/logo.svg');
  background-size: cover;
  background-position: center;
}

.ftr-objects{
  height: 240px;
  width: 300px;
  display: flex;
  align-items: center;

  flex-direction: column;
  color: #fff;
}

.ftr-objects.rekv{
  align-items: start;
}

.ftr-objects.rekv span{
  font-weight: bolder;
  color: #fff;
  display: contents;
  font-family: "main-app-bold";
}

.ftr-link{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-top: 1rem;
  font-weight: bold;
}

.ftr-objects.cntcts{
  align-items: start;
}

.ftr-cntcts.wrap{
  display: flex;
}

.ftr-cntcts.wrap div{
  margin-left: .5rem;
  color: #fff;
}

.ftr-drs{
  display: flex;
  margin-top: 2rem;
}

.ftr-drs div{
  margin-left: .5rem;
  color: #fff;
}

.ftr-ico{
  fill: #fff;
  font-size: 20px;
}

@media (width < 820px) {
  .footer-body{
    height: 300px;
    flex-direction: column;
  }

  .footer-logo{
    position: static;
  }

  .footer-nav{
    position: static;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (width < 480px) {
  .footer-body{
    height: 960px;
  }

  .ftr-objects.cntcts{
    margin-top: 4rem;
  }

  .ftr-objects.logo{
    align-items: center;
    justify-content: center;
  }

}